@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

body {
  font-family: "Noto Sans KR";
  font-size: 16px;
  font-weight: 400;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  -webkit-font-smoothing: antialiased;
}

div,
ul,
li {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  cursor: pointer;
}
button {
  cursor: pointer;
}
button:focus {
  outline: none;
}

/* Text Style */
h1 {
  font-family: "Noto Sans KR";
  font-size: 64px;
  line-height: 1.2;
  font-weight: 700;
}
h2 {
  font-family: "Noto Sans KR";
  font-size: 50px;
  line-height: 1.2;
  font-weight: 700;
}
h3 {
  font-family: "Noto Sans KR";
  font-size: 26px;
  line-height: 1.2;
  font-weight: 400;
}
h4 {
  font-family: "Noto Sans KR";
  font-size: 19.2px;
  line-height: 1.2;
  font-weight: 400;
}
p {
  font-family: "Noto Sans KR";
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
}

/* Tablet PC Landscape */
@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  h1 {
    font-family: "Noto Sans KR";
    font-size: 50px;
    line-height: 1.2;
    font-weight: 700;
  }
  h2 {
    font-family: "Noto Sans KR";
    font-size: 40px;
    line-height: 1.2;
    font-weight: 700;
  }
  h3 {
    font-family: "Noto Sans KR";
    font-size: 20px;
    line-height: 1.2;
    font-weight: 400;
  }
  h4 {
    font-family: "Noto Sans KR";
    font-size: 19.2px;
    line-height: 1.2;
    font-weight: 400;
  }
}

/* Tablet PC Portrait */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  h1 {
    font-family: "Noto Sans KR";
    font-size: 50px;
    line-height: 1.2;
    font-weight: 700;
  }
  h2 {
    font-family: "Noto Sans KR";
    font-size: 40px;
    line-height: 1.2;
    font-weight: 700;
  }
  h3 {
    font-family: "Noto Sans KR";
    font-size: 20px;
    line-height: 1.2;
    font-weight: 400;
  }
  h4 {
    font-family: "Noto Sans KR";
    font-size: 19.2px;
    line-height: 1.2;
    font-weight: 400;
  }
}

/* Mobile Landscape */
@media only screen and (min-width: 481px) and (max-width: 767px) {
  h1 {
    font-family: "Noto Sans KR";
    font-size: 28px;
    line-height: 1.2;
    font-weight: 700;
  }
  h2 {
    font-family: "Noto Sans KR";
    font-size: 26px;
    line-height: 1.2;
    font-weight: 700;
  }
  h3 {
    font-family: "Noto Sans KR";
    font-size: 18px;
    line-height: 1.2;
    font-weight: 400;
  }
  h4 {
    font-family: "Noto Sans KR";
    font-size: 19.2px;
    line-height: 1.2;
    font-weight: 400;
  }
}

/* Mobile Portrait */
@media only screen and (max-width: 480px) {
}
